# Node / package managers
node_modules/
npm-debug.log*
yarn*.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs (Vite/Next/etc.)
dist/
build/
.out/
.next/
.vercel/
.vite/
.vitepress/
out/

# Env / IDE / OS
.env*
!.env.example
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Misc
*.local
